
.card_img_size
{
  /*width: 540px;*/
  /*height: 250px;*/
  max-width: 540px;
}
.img_size
{
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
}
.div-navbar
{
  display: flex;
  justify-content: space-between;
}